<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://servicehooktrello.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2658b59d-d698-4318-89c8-03c29caa9e60/resourcegroups/Apresentacoes/providers/Microsoft.Web/sites/ServiceHookTrello</ResourceId>
    <UserName>$ServiceHookTrello</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://servicehooktrello.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>